---
import LogoGlyph from "./LogoGlyph.astro";
---

<footer>
  <div class="container">
    <div class="footer-glyph"><LogoGlyph /></div>
    <p>© 2025 Sonido Postal Newsletter. Hecho con puro pinche amor para ti.</p>
  </div>
</footer>
